
@{
    ViewBag.Title = "Upload";
}

<style>
    .bar {
        background-color: #0094ff;
        height: 40px;
    }

    #fileList {
        padding: 5px 10px 1px 10px;
        background-color: #9DA8B6;
    }

    #fileupload {
        display: inline-block;
    }
</style>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.fileupload.js"></script>
<script src="~/Scripts/jquery.iframe-transport.js"></script>

<div class="row" style="margin-top: 15px; padding: 5px; background-color: #ccc; margin-bottom: 5px;">
    <button id="btnUpload" class="btn btn-success">Dosyaları Yükle</button>
    <input id="fileupload" type="file" multiple="multiple" />
    <h5>Genel Yüzde</h5>
    <em id="genelBoyut"></em>
    <div class="progress" style="margin-bottom: 5px;">
        <div id="overBar" class="bar" style="width: 0%;">
        </div>
    </div>
</div>

<div class="row">
    <div id="fileList" class="hidden">
        @*<div class="progress">
                <div id="overBar" class="bar" style="width: 20%;">
                </div>
            </div>*@
    </div>
</div>

<script>
    var barCount = 1;
    $('#fileupload').fileupload({
        dataType: "json",
        url: "/home/FileUpload",
        limitConCurrentUploads: 1,
        sequentialUploads: true,
        progressInterval: 100,
        maxChunkSize: 10000,
        add: function (e, data) {
            $("#btnUpload").removeClass("hidden");
            $('#fileList').append("<h5>Dosya Adi" + data.files[0].name + "</h5>");
            $('#fileList').append("<h5> Dosya Boyutu" + bytesToSize(data.files[0].size, 2) + "</h5>");
            $('#fileList').append('<div class="progress"><div id="uploadingFile" class="bar" style="width:0%;"></div></div>');
            $("#btnUpload").click(function () {
                data.submit();
            });
            barCount = 1;
        },
        done: function (e, data) {
            $(".bar:eq(" + barCount + ")").append("Tamamlandı");
            barCount++;
        },
        progressall: function (e, data) {
            var yuzde = parseInt(data.loaded / data.total * 100);
            $('#genelBoyut').append("<h5> Toplam Dosya Boyudu" + bytesToSize(data.total, 2) + "</h5>");
            $("#overBar").css("width", yuzde + "%");
        },
        progress: function (e, data) {
            var yuzde = parseInt(data.loaded / data.total * 100);
            $(".bar:eq(" + barCount + ")").css("width", yuzde + '%');
        }

    });

    function bytesToSize(bytes, precision) {
        var kilobyte = 1024;
        var megabyte = kilobyte * 1024;
        var gigabyte = megabyte * 1024;
        var terabyte = gigabyte * 1024;

        if ((bytes >= 0) && (bytes < kilobyte)) {
            return bytes + ' B';

        } else if ((bytes >= kilobyte) && (bytes < megabyte)) {
            return (bytes / kilobyte).toFixed(precision) + ' KB';

        } else if ((bytes >= megabyte) && (bytes < gigabyte)) {
            return (bytes / megabyte).toFixed(precision) + ' MB';

        } else if ((bytes >= gigabyte) && (bytes < terabyte)) {
            return (bytes / gigabyte).toFixed(precision) + ' GB';

        } else if (bytes >= terabyte) {
            return (bytes / terabyte).toFixed(precision) + ' TB';

        } else {
            return bytes + ' B';
        }
    }
</script>